.shoppingCartItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C2C2C2;
    align-items: center;
    padding:15px 0px;
    &__image {
      width: 130px;
      height: 86px;
      max-width: 100%;
  
      & img{
         height: 100%;
         max-width: 100%;
         width: 100%;
         object-fit: cover;
      }
    }
  
    &__name {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
  
      color: #000000;
    }
  
    &__price {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: #656565;
    }
  }
  